<%- include('partials/header') %>

<section aria-label="Newest Photos">
  <div class="carousel" data-carousel>
    <button class="carousel-button prev" data-carousel-button="prev">
      &#8656;
    </button>
    <button class="carousel-button next" data-carousel-button="next">
      &#8658;
    </button>
    <ul class="carousel-ul-list" data-slides>
      <% Features.forEach(Feature =>{%> 
        <li class="slide">
          <img 
          src="data:image/<%=Feature.img.contentType%>;base64,<%=Feature.img.data.toString('base64')%>"
          alt="Image" />
          <h1>
            <a class="carousel-links" href="<%= Feature._id %>"><%= Feature.title %> </a>
          </h1>
        </li>
      <%})%> 
    </ul>
  </div>
</section>

<div class="Blog-Main-content">
  <div class="main-content">
    <div class="hr-style">
      <h1>Latest</h1>
      <hr class="hr-headline" />
    </div>

    <% Posts.forEach( Post =>{ %>
    <div class="blog-item">
      <div class="blog-container">
        <div class="blog-image">
          <a href="<%= Post._id %> ">
          <img class="blog-image--content"
            src="data:image/<%=Post.img.contentType%>;base64,<%=Post.img.data.toString('base64')%>"
            alt="image"
          /></a> 
        </div>
        <div class="blog-content">
          <h1 class="blog-heading"><a href="<%= Post._id %> "><%= Post.title %></a></h1> 
          <p class="blog-subheading"><%= Post.subtitle %></p>
          <p class="blog-created-at">
            posted by <%= Post.fname %><%= Post.lname %> at
            <span class="time-stamp">
              <%= Post.createdAt.toLocaleDateString() %></span
            >
          </p>
        </div>
      </div>
      <hr class="blog-seperator" />
    </div>
    <% })%>
  </div>

  <div class="side-content">
    <div class="hr-side-style">
      <h1>Trending</h1>
      <hr class="hr-headline" />
    </div>

    <% Trends.forEach(trend =>{%> 
        <div class="side-container">
          <a class= "side-container-set" href="<%= trend._id %> ">
            <div class="side-image">
              <img 
              src="data:image/<%=trend.img.contentType%>;base64,<%=trend.img.data.toString('base64')%>" 
              alt="image" />
            </div>
            <div class="side-content-text">
              <h1 class="side-heading">
                <%= trend.title  %> 
              </h1>
            </div>
          </a>
        </div>
    <%})%>

  </div>
</div>

<%- include('partials/footer') %>
